*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}
ul{
    list-style: none; 
    
}
.active{
    color: var(--text-color-1);
}
:root {

    --primary-color: #7F4395;
    --secondary-color: #F9b126;
    --text-color-1 : #E6CFED;
    --text-color-2 : #C8AFCF;
}
.navigation-container{
    background-color: var(--primary-color);
    color: var(--text-color-2);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 23px;      
}
.nav{
    display: flex;
    gap: 2rem;
    margin-right: 7rem;
}
.brand-logo{
    margin-left: 7rem;
}
.content-container{
    width: 218vh;
    height: 87vh;    
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Newbook-container{
    background-color: #E6CFED;
    width: 155vh;
    height: 70vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f9fafb;
    width: 140vh;
    height: 58vh;
    border-radius: 5px;
    text-align: center;
    color: black;    
}
.inputTitle h3 {
    padding: 40px 0 0px 0;
    font-size: 22px;
}
.heading  h2{
    font-weight: 400;
    font-size: 26px;
}
.wrapper {
    height: 54vh;
}
.bookinputBox {
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.inputTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 170px;
}
.inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 110px;
}
.purpleLine {
    border-bottom: 2px solid var(--primary-color);
    height: 1px;
    width: 189px;
}
.userInput {
    height: 34px;
    width: 54vh;
    border-radius: 3px;
    border: 1px solid var(--text-color-2);    
}
.input {   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px 0 0 0;
    
}
button {
    padding: 10px 70px 10px 70px;
    font-size: 21px;
    background-color: var(--primary-color);
    border: none;
    color: #E6CFED; 
    border-radius: 3px;  
}
.button{
    padding: 40px 0 0 0;
}





    

