* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Old Standard TT', serif;
}
ul {
  list-style: none;
}
.active {
  color: var(--text-color-1);
}
:root {
  --primary-color: #7f4395;
  --secondary-color: #f9b126;
  --text-color-1: #e6cfed;
  --text-color-2: #c8afcf;
}
.navigation-container {
  background-color: var(--primary-color);
  color: var(--text-color-2);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 23px;
}
.nav {
  display: flex;
  gap: 2rem;
}
.brand-logo {
  margin-left: 7rem;
}
.content-container {
  background-image: url('/assets/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.Newbook-container {
  background-color: #e6cfed;
  width: 155vh;
  height: 70vh;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f9fafb;
  width: 140vh;
  height: 58vh;
  border-radius: 5px;
  text-align: center;
  color: black;
}
.inputTitle h3 {
  padding: 40px 0 0px 0;
  font-size: 22px;
}
.heading h2 {
  font-weight: 400;
  font-size: 26px;
}
.wrapper {
  height: 54vh;
}
.bookinputBox {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.inputTitle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 170px;
}
.inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 110px;
}
.purpleLine {
  border-bottom: 2px solid var(--primary-color);
  height: 1px;
  width: 189px;
}
.userInput {
  height: 34px;
  width: 54vh;
  border-radius: 3px;
  border: 1px solid var(--text-color-2);
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 34px 0 0 0;
}
button {
  cursor: pointer;
  padding: 10px 70px 10px 70px;
  font-size: 21px;
  background-color: var(--primary-color);
  border: none;
  color: #e6cfed;
  border-radius: 3px;
}
.button {
  padding: 40px 0 0 0;
}
